@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/notosanssc/noto-sc-subset.woff2 format('woff2');
  unicode-range: U+300-34e, U+350-35d, U+360, U+3002, U+4e00, U+4e0b, U+4e0d, U+4e2a, U+4e48, U+4e4b, U+4e4e, U+4e86, U+4eba, U+4ed6, U+4eec, U+4f1a, U+4f38, U+4f53, U+4f60, U+505a, U+505c, U+513f, U+5168, U+51e0, U+51fa, U+522b, U+5230, U+524d, U+53d1, U+53ea, U+53ef, U+5417, U+542c, U+559c, U+56de, U+5728, U+5934, U+5973, U+5979, U+597d, U+5b69, U+5b83, U+5b8c, U+5bb6, U+5bf9, U+5c31, U+5c38, U+5df1, U+5f00, U+5f71, U+5fd8, U+600e, U+6015, U+60dc, U+60f3, U+611f, U+6170, U+6211, U+623f, U+624b, U+628a, U+629a, U+6446, U+6478, U+653e, U+662f, U+6709, U+6728, U+6765, U+6837, U+6b22, U+6b63, U+6b7b, U+6c42, U+6ee1, U+732b, U+73b0, U+751a, U+75db, U+7684, U+770b, U+7740, U+7ea2, U+800c, U+81ea, U+81f3, U+8272, U+88ab, U+8981, U+89c1, U+89c9, U+89e3, U+8ba9, U+8bb0, U+8bf4, U+8c01, U+8d77, U+8ddf, U+8fd9, U+90a3, U+9192, U+91ca, U+91cc, U+949f, U+95f4, U+9ed1, U+ff01, U+ff0c, U+ff1f;
}
